@charset "UTF-8";

:root{

  --cor1: #4d6078;
  --cor2: #22344c;
  --cor3: #0F141A;  
  --fundo-principal:  #22344c ;
  --texto:            #f1f8f1 ;
  --texto-inverso:    #3d5b83 ;
  --destaque:         #0F141A;
  --destaque-inverso: #2f4869 ;
  --fundo-card:       #253952;
    
}

hr{
    height: 5px;
    border: none;
    background-color: var(--texto-inverso);
    margin: 20px 14px;
}

article#educacao p.instituto{
    color: rgb(5, 152, 226);
}
article#educacao ul{
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;

}
article#educacao ul li{
    background-color: var(--destaque-inverso);
    padding: 14px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px var(--destaque);
    border-left: 5px solid var(--cor1);
   transition: border-left-width 0.5s, border-color 0.5s;
}

article#educacao ul li:hover{
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer;
}
 article#cursos{
    height: 530px;
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
 }
  article#cursos div.conteiner-cursos{
    margin-top: 10px;
    height: 90%;
    overflow-y: scroll;
    padding: 10px;
    scrollbar-width: none;
  }

article#cursos ul{
    height: 500px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;

}
 article#cursos ul li{
    background-color: var(--destaque-inverso);
    padding: 14px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px var(--destaque);
   transition: border-left-width 0.5s, border-color 0.5s;
 }
  article#cursos ul li:hover{
    box-shadow: 3px 3px 6px var(--texto-inverso);
    transform: translateY(-8px);
  }
img.icone-link{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 20%;
}